__pycache__/
./__pycache__/
.vscode/*
.vscode/settings.json

Models/100_ep_model
Models/last_ep_model
TestJBNN/test_conv.npy
TestJBNN/test_data.npy
TestJBNN/test_label.npy
TrainingJBNN/train_conv.npy
TrainingJBNN/train_data.npy
TrainingJBNN/train_label.npy
