__pycache__/
./__pycache__/
.vscode/*
.vscode/settings.json

Models/100_ep_model
Models/last_ep_model
JBNN/TrainingJBNN/train_conv.npy
JBNN/TrainingJBNN/train_data.npy
JBNN/TrainingJBNN/train_label.npy
